 * {
 	&, &:before, &:after {
 		margin: 0;
 		padding: 0;
 		box-sizing: border-box;
 	}
 }
 
 html {
 	font-family: Arial, sans-serif;
}

body{
	min-width:320px;
	background-color:#F0FFF0 !important;
}

header,footer{
background-color: #122538;
color: #fff;
}

.img-fluid{
	max-width:140% !important;
}

.filter{
	margin-top:10px;
	margin-bottom:10px;
}

.filter-title{
	margin-right:15px;
}
.category{
	margin:0px 3px 0px 3px;
	border:1px solid #c0c0c0;
}
.category a{
	padding-left:4px;
	padding-right:4px;
	margin: 0px 3px 0px 3px;
	

}

.category a:hover{
text-decoration:none;
}

.product-buy{
  text-decoration: none;
  outline: none;
  display: inline-block;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
  transition: .5s;
  border:1px solid black;
}
.product-buy:hover {
background-position: right center;
text-decoration:none;
} 


.product-title{
	line-height:1.4em;
	min-height:2.8em;
	color: #000;

}
.product-title:hover{
	text-decoration:none;
	color:#DAA520;
}


.product-price{
display:block;
}

.product{
	position: relative;
}
.product>span{
	padding:5px 2px;
}



.prices{
	margin-bottom:40px;
}

.product-buy{
	position:absolute;
	bottom:10px;
	left:32.33%;
	width:35.33%
}


.product-price-old{
	text-decoration:line-through;
}
.product-special-price{
color: #fb515d;
}


.cart{
	height: 40px;
}
.cart a{
    position: absolute;
    top: 8px;
    right: 30px;
}

.counter{
    position: absolute;
    top: -2px;
    left: 38px;
    min-width: 23px;
    height: 23px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1px 2px;
    font-size: 17px;
    line-height: 21px;
    color: #fff;
    text-align: center;
    background: #fb3f4c;
    border-radius: 12px;
    z-index: 1;
}

.cart img{
	width:50px;
}


.smallImg{
	max-height: 90px;
    object-fit: contain;
}

.cart-item{
	padding:1.5em 1.5em 1.5em 0px
}

.clearfix:after{
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0px;
	height:0px;
}

.cart-check-wrap{
	float:left;
	width:25px;
	position:relative;
}

.cart-check{
	display:inline-block;
	width:23px;
	height:23px;
	cursor:pointer;
}
a{
	text-decoration:none;

}

.cart-check-icon{
	background-position:-532px -729px;
	width:22px;
	height:22px;
}

.sprite{
	background-image: url(https://i.rozetka.ua/h.05acce/sprite.svg);
	background-repeat:no-repeat;
}

.cart-info{
	margin-left:25px;
}

.cart-img{
	float:left;
	width:180px;
	position:relative;
	text-align:center;
}

.cart-content{
	margin-left:180px;
}

.cart-title{
	width:76%;
	margin-bottom:1em;
	font-size:14px;
	line-height:1.3em;
}

.cart-price{
	width:40%;
	float:left;
}

.cart-uah{
	display:inline-block;
	padding:6px 5px 5px;
	font-size: 1.5em;
	border-radius:5px;
	background-color:#fef2b8;
	vertical-align:middle;
}

.cart-sum{
	width:24%;
}

.cart-amount, .cart-amount-disabled, .cart-sum{
	float: right;
	text-align: right;
}

.cart-amount{
	width:27%;
}

.cart-amount-minus{
	diplay:inline-block;
	margin-right:5px;
}

.cart-amount-input-text {
    width: 23px;
    height: 21px;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    box-sizing: content-box;
}

.input-select, .input-text, .input-textarea {
    border: 1px solid #d2d2d2;
    border-radius: 4px;
    font-size: 1.15385em;
    width: 21em;
    padding: .33333em;
    resize: none;
    caret-color: #00a046;
    color: #4d4b4b;
    -webkit-transition: border-color .2s ease;
    -moz-transition: border-color .2s ease;
    -ms-transition: border-color .2s ease;
    -o-transition: border-color .2s ease;
    transition: border-color .2s ease;
}

input, select, textarea {
    color: #4d4b4b;
    display: inline-block;
    font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
}

.cart-amount-plus {
    display: inline-block;
    margin-left: 5px;
}

.cart-amount-minus-icon {
    cursor: default;
    background-position: -851px -281px;
    width: 15px;
    height: 2px;
}

.cart-amount-plus .cart-amount-plus-icon {
    background-position: -437px -848px;
    width: 19px;
    height: 19px;
}

.cart-total-label{
	background:#fef2b8;
	float:left;
	padding:1.08em 0.92em 0.92em;
}

.cart-total-sum{
	margin-bottom: 0.5em;
}

.cart-total-title {
    font-size: 1.846em;
    margin-right: 30px;
}

.cart-total-uah {
    font-size: 1.976em;
    float: right;
}

@media (min-width: 992px){
.modal-lg {
    max-width: 960px !important;
}
}

@media (max-width: 991px){
.modal-dialog {
    max-width: 90% !important;
    margin: 1.75rem auto;
}
}

@media (max-width: 620px){
	.cart-price{
	float:none;
	}
	.cart-sum, .cart-amount{
	margin-top: 18px;
	}
	.cart-amount{
	float:left;
	text-align: left;
	}
	.cart-content{
	margin-left:0px;
	}

	.cart-img {
    float: none;
    width: 100%;
    position: relative;
    text-align: center;
}
.cart-amount {
    width: 50%;
}
.modal-dialog{
max-width: 100% !important;
}

.cart-title{
	width:100%;
	text-align:center;
}
}


.popover-body {
    min-height: 100px!important;
    max-height: 200px!important;
    overflow-y: auto!important;
}


@import "~bootstrap/scss/bootstrap";
.product-image {
	max-height: 200px;
	object-fit: contain;
}